server:
  error:
    path: /error
    whitelabel:
      enabled: false
  port: 8080
  servlet:
    encoding:
      charset: utf-8
      force: true
  tomcat:
    connection-timeout: -1

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true
  datasource:
    username: ${RDS.USERNAME}
    password: ${RDS.PASSWORD}
    url: jdbc:mysql://${RDS.HOSTNAME}:${RDS.PORT}/${RDS.DB.NAME}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  devtools:
    livereload:
      enabled: true

my-env:
  jwt:
    secret: ${JWT.SECRET}